.user-creator {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.user-creator__label {
  text-transform: uppercase;
}

.user-creator__input {
  min-width: 25%;
  padding: 0.75em;
  background: none;
  border: none;
  border-bottom: 2px solid #00cccc;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  display: block;
  margin: 20px auto;
}

.user-creator__error,
.user-creator__success {
  margin-top: 30px;
  text-transform: uppercase;
}

.user-creator__error {
  color: red;
}

.user-creator__success {
  color: limegreen;
}

.user-creator__submit-button {
  margin-top: 25px;
  padding: 1em 2em;
  border: none;
  background: #00cccc;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.10),
    0px 10px 20px rgba(0, 0, 0, 0.05),
    0px 10px 20px rgba(0, 0, 0, 0.05),
    0px 10px 10px rgba(0, 0, 0, 0.05);
}