<form name="userDetailForm" class="user-creator" ng-submit="$ctrl.handleSubmit()" onsubmit="() => alert('hey')">
    <h1 class="user-creator__header">Creating</h1>
  
    <label class="user-creator__label" for="user-name">Name</label >
    <input
      class="user-creator__input"
      type="text"
      id="user-name"
      ng-model="$ctrl.userName" 
      required
    />
  
    <label class="user-creator__label" for="user-address">Address</label >
    <input
      class="user-creator__input"
      type="text"
      id="user-address"
      ng-model="$ctrl.userAddress"
    />
    
    <label class="user-creator__label" for="user-email">E-mail</label >
    <input
      class="user-creator__input"
      type="email"
      id="user-email"
      ng-model="$ctrl.userEmail" 
    />
  
    <label class="user-creator__label" for="user-age">Age</label >
    <input
      class="user-creator__input"
      type="number" 
      min="18" 
      max="120"
      id="user-age" 
      ng-model="$ctrl.userAge" 
    />
  
    <p class="user-creator__error">{{ $ctrl.error }}</p>
    <p class="user-creator__success">{{ $ctrl.successful }}</p>
  
    <button
      class="user-creator__submit-button" 
      type="submit"
    >
      Create User
    </button>
  
  </form>