<form name="userDetailForm" class="user-detail" ng-submit="$ctrl.handleSubmit()">
  <h1 class="user-detail__header">Editing</h1>

  <p class="user-detail__id-card">{{ $ctrl.userId }}</p>

  <label class="user-detail__label" for="user-name">Name</label >
  <input
    class="user-detail__input"
    type="text"
    id="user-name"
    ng-model="$ctrl.userName" 
    required
  />

  <label class="user-detail__label" for="user-address">Address</label >
  <input
    class="user-detail__input"
    type="text"
    id="user-address"
    ng-model="$ctrl.userAddress" 
  />
  
  <label class="user-detail__label" for="user-email">E-mail</label >
  <input
    class="user-detail__input"
    type="email"
    id="user-email"
    ng-model="$ctrl.userEmail" 
  />

  <label class="user-detail__label" for="user-age">Age</label >
  <input
    class="user-detail__input"
    type="number" 
    min="18" 
    max="120"
    id="user-age" 
    ng-model="$ctrl.userAge" 
  />

  <p class="user-detail__error">{{ $ctrl.error }}</p>
  <p class="user-detail__success">{{ $ctrl.successful }}</p>

  <button
    class="user-detail__submit-button" 
    type="submit"
  >
    Save Changes
  </button>

</form>